{{if eq .RunMode "dev"}}
    {{template "debug.html" .}}
{{end}}

     <!--  new footer  -->
     <div id="footer-v2" class="footer-v2">
        <div class="footer">
            <div class="container" style="padding-left:5%">
             Copyright © 2015 七牛云存储 Niukthon.All rights reserved.
             <a href="http://revel.github.io" style="padding-left:20%">Powered by Revel</a>
             <a href="mailto:wqjt@qiniu.com?subject=弯区大讲堂-反馈" style="margin:20px 20px">反馈建议</a>
            </div>
        </div>
     </div>
     <!--  footer end  -->
  </body>
</html>
